.sub-container.view-height
  =render 'common/sub_header'

  %main.main-block
    %section.main-block__container
      %h2.main-block__container__heading 新規会員登録
      .main-block__container__inner
        .main-block__content
          = link_to  new_user_registration_path ,class:"main-block__buttons mail" do
            %i.fa.fa-envelope-o.sns__icon
            メールアドレスで登録
          = link_to user_facebook_omniauth_authorize_path ,class:"main-block__buttons facebook" do
            %i.fa.fa-facebook-square.sns__icon
            Facebookで登録
          = link_to "" ,class:"main-block__buttons google" do
            %i.fa.fa-google.sns__icon
            Googleで登録

  =render 'common/sub_footer'