-# .main-contents
-#   .buy-confirmation
-#     %h2.buy-confirmation__head-title 購入内容の確認
-#     .buy-confirmation__item-info
-#       .buy-confirmation__item-info--inner
-#         %h3
-#           %img{src: "https://www.kaihouse.jp/wp-content/uploads/2018/08/gourmet4346_s.jpg",alt:"image-item",width:"64",height:"64"}
-#         %p.item-dis 送料無料！超激旨カレー３箱。今なら福神漬けがついてきます
-#         %form.buy-form{}
-#           %p.item-price 
-#             ¥1,500 
-#             %span.shipping-cost 送料込み
-#           %ul.ul1
-#             %li
-#               .according-toggle ポイントはありません
-#           %ul.ul2
-#             %li.li2
-#               .buy-price-cell 支払い金額
-#               .buy-price-item 
-#                 %span ¥1,500

-#           %input{type:"hidden"}
-#           %input{type:"hidden"} 
-#           -# データの分だけinput
-#           %button{type:"submit"} 購入する
-#     .buy-confirmation__shipping-address
-#       .buy-confirmation__shipping-address--inner
-#         %h3 配送先
-#         %p 
-#           〒125-0000
-#           %br
-#           東京都渋谷区道玄坂２丁目２３−１２ フォンティスビル7F
-#           %br
-#           テック太郎
-#         %h4
-#           = link_to "変更する >"
-#     .buy-confirmation__payment-method
-#       .buy-confirmation__payment-method--inner
-#         %h3 支払い方法
-#         %p
-#           1234567890
-#           %br
-#           05/22
-#         %img.card-image{src: "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?270352715",alt:"card-image",width:"49",height:"15"}
-#         %h4
-#           = link_to "変更する >"

.main
  %h4
    .main__1 あいうえお
    .main__2
