.pickup-item__box {
  width: 700px;
  text-align: center;
  display: flex;
  &__item{
    width: 213px;
    height: 100%;
    position: relative;
    margin:  auto;
    margin: 10px 0 0 20px;
    &__image{
      width: 213px;
      height: 213px;
      background-color:#ffffff;
      figure {
        margin: 0 auto;
      }
      img {
        width: 213px;
        height: 213px;
        left: 0;
        
      }
    }
    &__body{
      background-color: #ffffff;
      height: 80px;
      padding: 16px;
      overflow: hidden;
      &__text{
        font-size: 16px;
        height: 3rem;
      }
      &__price{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        vertical-align: bottom;
      
        &__icon {
          &__like {
            float: left;
          }
          &__count {
            float: right;
          }
        }
      }
    }
  }
}

.show-link {
  color: #333333;
}

.three {
  margin: 0 0 100px 100px;
  flex-wrap: wrap;
}