.sub-footer {
  height: 180px;
  padding-top: 40px;
  text-align: center;
  &__nav {
    display: inline-block;
    margin-left:16px;
    font-size: 12px;
  }
  &__image {
    display: inline-block;
    width: 80px;
    padding-top: 20px;
  }
  &__copy-write {
    font-size: 8px;
  }
}