%section.item
  %h1.item__name ブーツ！
  .item__body
    .item__body__photo
      = image_tag "item_detail.jpg", class: "item__body__photo--image"
    %table.item__body__detail
      %tbody
        %tr.tr_data
          %th.th-left 出品者
          %td.td-right うっちー
        %tr.tr_data
          %th.th-left カテゴリー
          %td.td-right レディース
        %tr.tr_data
          %th.th-left ブランド
          %td.td-right UCCHI
        %tr.tr_data
          %th.th-left 商品のサイズ
          %td.td-right FREE SIZE
        %tr.tr_data
          %th.th-left 商品の状態
          %td.td-right 目立った傷や汚れなし
        %tr.tr_data
          %th.th-left 配送料の負担
          %td.td-right 送料込み(出品者負担)
        %tr.tr_data
          %th.th-left 配送の方法
          %td.td-right クリックポスト
        %tr.tr_data
          %th.th-left 配送元地域
          %td.td-right 埼玉県
        %tr.tr_data
          %th.th-left 発送日の目安
          %td.td-right 4~7日で発送
  .item__price-box
    %span.item__price-box__price ￥1,000
    %span.item__price-box__tax (税込)
    %span.item__price-box__delivery_fee 送料込み
  .btn-buy
    %ul.btn-buy__text 購入画面に進む
  .item__description-box
    %p.description
      着丈約95
      身幅約49
      Marble SUD 
      ㈲ライトマン
      %br
      両腰ポケットあり
      目立つ汚れなどはありませんが古着ご理解の上神経質な方はご遠慮ください。
      %br
      ワンピース
      チュニック
  .btn-footer
    .btn-footer__left
      .btn-footer__left__like
        %span いいね!
      .btn-footer__left__report
        %span 不適切な商品の報告
    .btn-footer__right
      %p
        %i.fa.fa-lock
        %span あんしん・あんぜんへの取り組み