.center_btn {
  margin-left: 165px;
}


.my_page{
  &__nav {
    margin-left: 187px;
  }
}

.my_list {
  padding-top: 40px;
}

.profile_chapter__set-content{
  padding: 64px;
}

.profile_chapter__btn{
  margin: 0 auto;
  width: 320px;
}
