

.card{
  &__info{
    padding: 64px;
    text-align: initial;
    &__title{
      max-width: 320px;
      margin: 0 auto;
      h3{
        font-size:16px;
        font-weight: bold;
      }
    }
    &__index{
      list-style: none;
      li{
        padding: 24px 0;
        border-bottom: 1px solid #eee;
      }
      .a-card{
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        &__image{
          line-height: 16px;
        }
        &__img{
          width:50px;
          height:15px;
        }
        &__num{
          margin-top: 8px;
          font-size: 16px;
          line-height: 16px;
        }
        &__exp{
          margin-top: 8px;
          font-size: 16px;
          line-height: 16px;
        }
        &__remove{
          color: #ea352d;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          background: #fff;
          border: 1px solid #ea352d;
          border-radius: 3px;
          padding: 4px 6px;
          position: absolute;
          top:0;
          right: 0;
          cursor: pointer;
        }
      }
    } 
  }
  &__add{
    padding: 24px 0;
    border-bottom: 1px solid #eee;
    &__btn{
      margin-bottom: 8px;
      &__icon{
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 48px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-right: 16px;
      }
      a{
        display: block;
        width: 320px;
        margin: 0 auto;
        line-height:48px;
        font-size: 14px;
        text-align: center;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
  &__how{
    display: block;
    margin-top: 40px;
    text-align: right;
    a{
      color: #0099e8;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
    }

  }
}