.main_wrapper {
  background: #f5f5f5;
}

.number_text {
font-size: 14px;
  a {
    color: #0099e8;
  }
}

.number_left {
text-align: left;
margin-top: 5px;
}

// sms_confirm.scss
.check_left {
  text-align: left;
  margin-top: 20px;
}