.bread
  %ul.bread__content
    %li 
      =link_to "#", class: "bread__link" do
        メルカリ
    %li
      = fa_icon 'angle-right', class:"bread__icon"
    %li 
      =link_to "#", class: "bread__link" do
        マイページ
    %li
      = fa_icon 'angle-right',class:"bread__icon"
    %li
      支払い方法