.pickup-item__box__item
  .pickup-item__box__item__image
    = image_tag src="sample_bag"
  .pickup-item__box__item__body
    %h3.pickup-item__box__item__body__text ブランドバッグ
    .pickup-item__box__item__body__price
      %p ¥5,000
      .pickup-item__box__item__body__price__icon
        %p.pickup-item__box__item__body__price__icon__like
          %i.fa.fa-heart-o
        %p.pickup-item__box__item__body__price__icon__count 15
