%footer.sub-footer
  %nav
    %ul
      %li.sub-footer__nav プライバシーポリシー
      %li.sub-footer__nav メルカリ利用規約
      %li.sub-footer__nav 特定商取引に関する表記
  %a.sub-footer__image
    = image_tag src="/assets/logo-gray.svg"
  %p.sub-footer__copy-write © 2019 Mercari